.card img {
    background-color: rgb(15, 16, 18);
}

.card:hover {
    border: 3px solid rgb(0, 0, 0);
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.min-vh-100 {
    min-height: 100vh;
}